.common__section {
    background: 
      url("../../assets/UserAssets/all-images/drive.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px;
  }
